### ë³¸ ë§¤ë‰´ì–¼ì€ ë°ì´í„° ë¶„ì„ì— í•„ìš”í•œ ë°ì´í„°ì…‹ì„ ë¹ˆí‹°ì§€ë³„ë¡œ ì €ì¥í•˜ê³  ê´€ë¦¬í•˜ëŠ” ë°©ë²•ì— ëŒ€í•´ ë‹¤ë£¬ë‹¤.

# ì‹¤ì‹œê°„ ì¸í”Œë ˆì´ì…˜ ì „ë§ì„ ìœ„í•œ ë¹ˆí‹°ì§€ ë°ì´í„°ì…‹ ìƒì„±
ì§ì› ëˆ„êµ¬ë‚˜ BIDAS ë°ì´í„° ë¶„ì„ ìì›(backend.AI, fasttrack, s3 ë“±)ë¥¼ ì´ìš©í•´ ë°ì´í„°ì…‹ ìƒì„± ì½”ë“œë¥¼ ë§¤ì¼/ë§¤ì£¼/ë§¤ì›” ë°°ì¹˜ ì‹¤í–‰í•˜ì—¬, ìë™ìœ¼ë¡œ ë¹ˆí‹°ì§€ ë°ì´í„°ì…‹ì„ ì €ì¥í•˜ê³  ê´€ë¦¬í•  ìˆ˜ ìˆë‹¤. ì•„ë˜ ì½”ë“œëŠ” ë””ì§€í„¸ì‹ ê¸°ìˆ íŒ€ì—ì„œ ìš´ì˜ ì¤‘ì¸ ì‹¤ì‹œê°„ ì¸í”Œë ˆì´ì…˜ ì „ë§ ëª¨í˜•ì— í•„ìš”í•œ ë¹ˆí‹°ì§€ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ëŠ” ì˜ˆì‹œ ì½”ë“œì´ë‹¤. 
- ì‘ì„±ì: ë””ì§€í„¸ì‹ ê¸°ìˆ íŒ€ ì´ì°½í›ˆ ê³¼ì¥

ë°ì´í„°ì…‹ì— ëŒ€í•œ ìì„¸í•œ ë‚´ìš©ì€ BOK ì´ìŠˆë…¸íŠ¸ `[ì œ2024-5í˜¸] ë¹…ë°ì´í„°ì™€ ê¸°ê³„í•™ìŠµ ì•Œê³ ë¦¬ì¦˜ì„ í™œìš©í•œ ì‹¤ì‹œê°„ ì¸í”Œë ˆì´ì…˜ ì „ë§(real-time inflation forecasting)`[[ğŸ’¾ì´ìŠˆë…¸íŠ¸ ë‹¤ìš´ë¡œë“œ]](https://bidas-s3.boknet.intra/newtech/public/inf_nowcasting/ì´ìŠˆë…¸íŠ¸2024-5í˜¸.pdf) ì°¸ê³ .

In [1]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import bok_da as bd
import pickle

import pandas as pd
from pandas.tseries.offsets import QuarterEnd, QuarterBegin, MonthEnd, MonthBegin, BDay
from pandas.tseries.offsets import DateOffset

import requests
import math
import joblib

import numpy as np
from numpy import asarray

from datetime import datetime
from multiprocessing import Process

import glob
import os

from time import time
from tqdm import tqdm
import itertools

idx = pd.IndexSlice

### ë¹ˆí‹°ì§€ì…‹ ë‚ ì§œ ì„¤ì •

In [2]:
b_date = '2000-1'

c_date = datetime.now()
c_year = c_date.year
c_month = c_date.month
e_date = f'{c_year}-{c_month}'

ë°ì´í„°ì…‹ ìƒì„±ì— í•„ìš”í•œ ë©”íƒ€ë°ì´í„° ì €ì¥ ê²½ë¡œ ì„¤ì •

In [3]:
s3_repo_path = "s3://newtech/public/inf_nowcasting/input"

In [4]:
vspec = pd.read_excel(f'{s3_repo_path}/data_list_all_v8.xlsx', index_col = None)
vspec.index.names = [None]

vspec_import = vspec.loc[vspec['Data ID'] != 'calculated']
vspec

,Group,Series Name,cat,Acode,Tcode1,Adcode,Gcode,My ID,Data ID
0,ì†Œë¹„ìë¬¼ê°€,"ì§€ì¶œëª©ì ë³„ ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜(í’ˆëª©í¬í•¨, 2020ï¼100) (ì›”,ë¶„ê¸°,ë…„ 1965.01~...",1,w1lag1,2,0.0,1.0,P_cpi_1,KOSIS-101_DT_1J22001-M-T-T10-0-14101_ausgabe
1,NaN,"ì§€ì¶œëª©ì ë³„ ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜(í’ˆëª©í¬í•¨, 2020ï¼100) (ì›”,ë¶„ê¸°,ë…„ 1965.01~...",1,w1lag1,2,0.0,2.0,P_cpi_2,KOSIS-101_DT_1J22001-M-T-T10-A-14101_ausgabe
2,NaN,"ì§€ì¶œëª©ì ë³„ ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜(í’ˆëª©í¬í•¨, 2020ï¼100) (ì›”,ë¶„ê¸°,ë…„ 1965.01~...",1,w1lag1,2,0.0,2.0,P_cpi_3,KOSIS-101_DT_1J22001-M-T-T10-C-14101_ausgabe
3,NaN,"ì§€ì¶œëª©ì ë³„ ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜(í’ˆëª©í¬í•¨, 2020ï¼100) (ì›”,ë¶„ê¸°,ë…„ 1965.01~...",1,w1lag1,2,0.0,2.0,P_cpi_4,KOSIS-101_DT_1J22001-M-T-T10-D-14101_ausgabe
4,NaN,"ì§€ì¶œëª©ì ë³„ ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜(í’ˆëª©í¬í•¨, 2020ï¼100) (ì›”,ë¶„ê¸°,ë…„ 1965.01~...",1,w1lag1,2,0.0,2.0,P_cpi_5,KOSIS-101_DT_1J22001-M-T-T10-E-14101_ausgabe
...,...,...,...,...,...,...,...,...,...
317,NaN,í†µí•©ì¬ì •ìˆ˜ì§€ (ì›” 1999.12~2023.05)-ì›”-ì¬ì •ìˆ˜ì§€-ìë³¸ì§€ì¶œ-ì‹­ì–µì›,3,w3lag2,2,0.0,3.0,F_fb_5,KOSIS-102_DT_102N_AD01-M-16102AD1-15102AD123-1...
318,NaN,í†µí•©ì¬ì •ìˆ˜ì§€ (ì›” 1999.12~2023.05)-ì›”-ì¬ì •ìˆ˜ì§€-í†µí•©ì¬ì •ìˆ˜ì§€-ì‹­ì–µì›,1,w3lag2,3,0.0,3.0,F_fb_6,KOSIS-102_DT_102N_AD01-M-16102AD1-15102AD130-1...
319,í…ìŠ¤íŠ¸,ë‰´ìŠ¤ì‹¬ë¦¬ì§€ìˆ˜(ì‹¤í—˜ì í†µê³„)-ì›”-ë‰´ìŠ¤ì‹¬ë¦¬ì§€ìˆ˜,1,w1lag1,1,1.0,2.0,T_nsi,NECOS-521U001-M-A001
320,NaN,US Economic Policy Uncertainty Composite Index,1,w2lag1,1,1.0,1.0,T_usepu,BBG-BBG-EPUCCUSM_Index
321,NaN,US Categorical Economic Policy Uncertainty Tra...,1,w2lag1,1,1.0,2.0,T_uscepu,BBG-BBG-EPUCTRAD_Index

In [5]:
today = datetime.today()
vintage_date = today.strftime('%Y-%m-%d')

In [6]:
groups = ['P', 'PB', 'L', 'C', 'LM', 'IE', 'EI', 'RE', 'EG', 'S', 'GB', 'F', 'T']

In [7]:
adm_vspec = pd.read_excel(f'{s3_repo_path}/AdmPrices.xlsx', sheet_name='AdmPrices_list', index_col = None)
adm_vspec.index.names = [None]
adm_var_list = [var for var in adm_vspec['My ID']]
dfa = bd.get_bidas_data(adm_vspec.loc[adm_vspec['My ID'].isin(adm_var_list), 'Data ID'], adm_var_list).loc[b_date:e_date].astype(float).resample('M').mean()

### ë³€ìˆ˜ ê·¸ë£¹ë³„ ë°ì´í„° ë¶ˆëŸ¬ì˜¨ í›„ ì „ì²˜ë¦¬í•˜ì—¬ ë°ì´í„°í”„ë ˆì„(DF, DF_raw) ìƒì„±

In [8]:
DF = pd.DataFrame()
DF_raw = pd.DataFrame()

for group in groups:
    
    var_list = [var for var in vspec_import['My ID'] if var.split('_')[0] == group]
    df = bd.get_bidas_data(vspec.loc[vspec['My ID'].isin(var_list), 'Data ID'], var_list).loc[b_date:e_date].astype(float).resample('M').mean()
    DF_raw = pd.concat([DF_raw, df], axis=1)
    
    if group == 'IE':
        df['IE_mir_8'] = df['IE_mir_5'] - df['IE_mir_2']
        
    elif group == 'P':
        adm_vspec = pd.read_excel(f'{s3_repo_path}/AdmPrices.xlsx', sheet_name='AdmPrices_list', index_col = None)
        adm_vspec.index.names = [None]
        adm_var_list = [var for var in adm_vspec['My ID']]
        dfa = bd.get_bidas_data(adm_vspec.loc[adm_vspec['My ID'].isin(adm_var_list), 'Data ID'], adm_var_list).loc[b_date:e_date].astype(float).resample('M').mean()
        P_a, P_ea = bd.gen_P_adm_eadm_v2(dfa, adm_vspec.weights, b_date, e_date)
        
        df['P_adm'] = P_a
        df['P_eadm'] = P_ea
        
    elif group == 'L':
        df.loc[:, 'L_wh_1'] = df.loc[:, ['L_wh_1_a', 'L_wh_1_b', 'L_wh_1_c']].mean(axis=1)
        df.loc[:, 'L_wh_2'] = df.loc[:, ['L_wh_2_a', 'L_wh_2_b', 'L_wh_2_c']].mean(axis=1)
        df.loc[:, 'L_wh_3'] = df.loc[:, ['L_wh_3_a', 'L_wh_3_b', 'L_wh_3_c']].mean(axis=1)
        df.loc[:, 'L_tw_1'] = df.loc[:, ['L_tw_1_a', 'L_tw_1_b', 'L_tw_1_c']].mean(axis=1)
        df.loc[:, 'L_tw_2'] = df.loc[:, ['L_tw_2_a', 'L_tw_2_b', 'L_tw_2_c']].mean(axis=1)
        df.loc[:, 'L_tw_3'] = df.loc[:, ['L_tw_3_a', 'L_tw_3_b', 'L_tw_3_c']].mean(axis=1)
        df.loc[:, 'L_vjp'] = df.loc[:, ['L_vjp_a', 'L_vjp_b']].mean(axis=1)
        df['L_vu'] = df['L_vjp'] / df['L_eap_4'] # ì‹¤ì—…ìëŒ€ë¹„ ë¹ˆì¼ìë¦¬ ë¹„ìœ¨

        # drop columns L_wh_1_a, L_wh_1_b, ..., L_tw_3_c
        for p in ['L_' + p + '_' + q + '_' + r for p in ['wh', 'tw'] for q in ['1', '2', '3'] for r in ['a', 'b', 'c']]:
            df = df.drop(p, axis=1)
        df = df.drop(['L_vjp_a', 'L_vjp_b'], axis=1)            
        
    elif group == 'RE':
        df.loc[:, 'RE_ccs_1'] = df.loc[:, ['RE_ccs_1_a', 'RE_ccs_1_b']].mean(axis=1)
        df.loc[:, 'RE_ccs_2'] = df.loc[:, ['RE_ccs_2_a', 'RE_ccs_2_b']].mean(axis=1)

        # drop columns RE_ccs_2_a ...
        df = df.drop(['RE_ccs_1_a', 'RE_ccs_1_b', 'RE_ccs_2_a', 'RE_ccs_2_b'], axis=1)  
        
    else:
        pass

    
    for var in df.columns:
        
        dfi = df[var]
        
        if vspec.loc[vspec['My ID'].eq(var), 'Tcode1'].values[0] == 2:
            if (dfi <= 0).any().any():
                dfi = dfi.pct_change(12)*100
            elif var == 'P_cpi_1': # Nan ì¸ ê²½ìš° ffill ë˜ì–´ ë§ˆì§€ë§‰ ê°’ nanì¸ ê²½ìš° ì´ìƒí•œ ê°’ì´ ì±„ì›Œì§
                dfi = dfi.dropna().pct_change(12)*100
            else:
                dfi = (np.log(dfi) - np.log(dfi.shift(12)))*100
                
        elif vspec.loc[vspec['My ID'].eq(var), 'Tcode1'].values[0] == 3:
            dfi = dfi - dfi.shift(1)
            
        DF = pd.concat([DF, dfi], axis=1)

DF.index = pd.to_datetime(DF.index)
DF_raw.index = pd.to_datetime(DF_raw.index)

## P_ppi_2, ìƒì‚°ìë¬¼ê°€ì§€ìˆ˜(ê¸°ë³¸ë¶„ë¥˜)-ìƒí’ˆ 2020ë…„ìœ¼ë¡œ ê¸°ì¤€ë…„ ê°œí¸ë˜ë©´ì„œ ì‚­ì œ

P_ppi_2 is not imported.

In [9]:
DF

,P_cpi_1,P_cpi_2,P_cpi_3,P_cpi_4,P_cpi_5,P_cpi_6,P_cpi_7,P_cpi_8,P_cpi_9,P_cpi_10,...,GB_gscpi,F_fb_1,F_fb_2,F_fb_3,F_fb_4,F_fb_5,F_fb_6,T_nsi,T_usepu,T_uscepu
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.20,71.91
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.41,NaN,NaN,NaN,NaN,NaN,-1059.0,NaN,77.60,50.35
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.28,NaN,NaN,NaN,NaN,NaN,5601.0,NaN,77.55,88.18
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.14,NaN,NaN,NaN,NaN,NaN,1178.0,NaN,76.06,82.57
2000-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.29,NaN,NaN,NaN,NaN,NaN,3540.0,NaN,97.99,245.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-30,2.410939,3.696935,2.533800,1.160249,1.577473,1.790515,3.817223,1.519673,1.397693,2.957950,...,-0.34,4.758274,5.826992,5.487922,5.165472,9.988206,-23813.0,109.38,117.83,66.37
2024-07-31,2.551891,3.550867,2.469480,1.174286,2.182287,1.741362,5.083968,1.732603,1.633154,2.825566,...,-0.04,3.668043,4.692569,4.393595,3.800365,8.591109,23627.0,106.66,118.28,161.21
2024-08-31,2.012825,2.020437,2.441303,1.833776,1.837322,1.749428,1.806702,1.316354,1.849533,2.707935,...,0.20,NaN,NaN,NaN,NaN,NaN,NaN,99.47,114.18,224.67
2024-09-30,1.595038,1.828678,2.441303,1.801851,1.348768,1.922672,-1.204308,1.136323,1.914750,2.561024,...,0.13,NaN,NaN,NaN,NaN,NaN,NaN,98.84,117.88,85.75
2024-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ì˜¤ë¸Œì íŠ¸ ìŠ¤í† ë¦¬ì§€(s3)ì— ìƒì„±ëœ ë°ì´í„°ì…‹ ì €ì¥

In [11]:
#s3_repo_path = f"s3://newtech/public/inf_nowcasting/input/mdata/{vintage_date}.xlsx"

#DF.to_excel(s3_repo_path, sheet_name="data")
#DF.to_csv(f"{s3_repo_path}/mdata/{vintage_date}.csv")
#DF_raw.to_csv(f"{s3_repo_path}/mdata/{vintage_date}_raw.csv")